/**
 * @color Background
 * @section Main colors
 */
$color__bg: #ccccc2;

/**
 * @color Light
 * @section Main colors
 */
$color__light: #f0f9f0;

/**
 * @color Dark
 * @section Main colors
 */
$color__dark: #000000;



/**
 * @color Error
 * @section Form colors
 */
$color__error: red;

/**
 * @color Success
 * @section Form colors
 */

$color__success: green;

/**
 * @color Disabled
 * @section Form colors
 */
$color__disabled: #cccccc;


/**
 * @color Text Main
 * @section Text colors
 */
$color__text-main: #404040;

/**
 * @color Text Input
 * @section Text colors
 */
$color__text-input: #666;

/**
 * @color Text Input Focus
 * @section Text colors
 */
$color__text-input-focus: #111;

/**
 * @color Link
 * @section Text colors
 */
$color__link: royalblue;

/**
 * @color Link visited
 * @section Text colors
 */
$color__link-visited: purple;

/**
 * @color Link hover
 * @section Text colors
 */
$color__link-hover: midnightblue;

/**
 * @color Text Screen
 * @section Text colors
 */
$color__text-screen: #21759b;