/**
 * @nuclide XL
 * @section Variables > Breakpoint variables
 */
$xl: 1600px;

/**
 * @nuclide L
 * @section Variables > Breakpoint variables
 */
$l:  1366px;

/**
 * @nuclide LG
 * @section Variables > Breakpoint variables
 */
$lg: 1024px;

/**
 * @nuclide MD
 * @section Variables > Breakpoint variables
 */
$md:  768px;

/**
 * @nuclide SM
 * @section Variables > Breakpoint variables
 */
$sm:  600px;

/**
 * @nuclide XS
 * @section Variables > Breakpoint variables
 */
$xs:  420px;


/**
 * @nuclide Roboto
 * @section Variables > Fonts
 */
$font__main: 'Roboto', sans-serif;

$size__site-main: 100%;
$size__site-sidebar: 25%;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;